<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.the_custom_notification">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application>

        <service android:name=".service.NotificationService"/>

    </application>

</manifest>
